*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  color: black;
  font-weight: 300;
  line-height: 1.6; }

.container {
  background: linear-gradient(to right, #5F9595, #C1D7D7);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 8vh 1fr 8vh; }

.header {
  background: rgba(51, 51, 51, 0.4);
  color: #fff;
  display: flex;
  height: 100%;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / -1; }

.logo {
  margin: 1rem;
  margin-left: 5rem;
  margin-right: auto; }
  .logo-btn {
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    height: 0.2rem;
    width: 1.5rem; }
    .logo-btn::before, .logo-btn::after {
      background-color: #fff;
      height: 0.2rem;
      width: 2rem;
      content: "";
      display: block; }
    .logo-btn::before {
      transform: translateY(-0.7rem); }
    .logo-btn::after {
      transform: translateY(0.5rem); }

.nav {
  font-size: 1.5rem;
  display: flex; }
  .nav-item {
    margin: 1rem;
    margin-right: 5rem; }

.sidebar {
  visibility: hidden;
  font-size: 2rem;
  font-family: sans-serif;
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
  .sidebar--nav {
    background: rgba(51, 51, 51, 0.4);
    height: 100%;
    width: 50%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center; }
  .sidebar--item {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
    .sidebar--item:hover {
      background-color: rgba(51, 51, 51, 0.8); }
    .sidebar--item:not(:first-child) {
      margin-top: 4rem; }

.active {
  visibility: visible;
  transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67); }

.signup {
  width: 60vw;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2 / 3; }
  .signup--header {
    color: #fff;
    margin: 3rem;
    font-size: 4.5rem;
    font-weight: 900;
    text-align: center; }
  .signup--form {
    width: 80%;
    margin: 3rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    .signup--form > * {
      font-family: sans-serif;
      font-size: 2rem;
      border-radius: 100px;
      margin: 1rem;
      outline: none; }
    .signup--form_email {
      grid-column: 1 / -1; }
    .signup--form_password {
      grid-column: 1 / -1; }
    .signup--form_button {
      justify-self: center;
      width: 25rem;
      height: 4.5rem;
      grid-column: 1 / -1;
      border: none;
      cursor: pointer; }

.input {
  padding: 1rem;
  border: none; }

.footer {
  background: rgba(252, 252, 252, 0.4);
  color: #333;
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  grid-row: 3 / -1;
  grid-column: 1 / -1; }
